h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  }
  
  h2 {
    font-size: 40px;
    text-align: center;
    font-family: 'Concert One', cursive;
    animation-duration: 3s;
    animation-name: slidein;
  }
  @keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%
  }
  to {
    margin-top: 0%;
    width: 100%;
  }
  }

  figure {
    float: center;
    text-align: center;
  }

.box-msg-encode {
    width: 610px;
    margin: 0 auto;
    background-color: #C56206;
    padding: 10px 20px 20px 20px;
    border: 5px solid black;
  }

.box-msg-encode:hover {
  background-color: darkgray;
  }

.send-encode {
    text-align: center;
  }

.box-msg-decode {
    width: 610px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 10px 20px 20px 20px;
    border: 5px solid black;
  }

.box-msg-decode:hover {
  background-color: darkgray;
  }

.send-decode {
    text-align: center;
  }

html {
    background-color: #BFAA3F;
  }